version: "1"
services:
  - type: web
    name: karyana-backend
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
      - key: JWT_SECRET
        generateValue: true
      - key: FRONTEND_URL
        value: "*"
      - key: PORT
        value: 5000
